output "HDMI-A-1" {
	mode "1920x1080@59.950"
	scale 1.0
	position x=1920 y=0
}

output "DP-2" {
	mode "1920x1080@59.950"
	scale 1.0
	position x=3840 y=0
}

output "DP-3" {
	mode "1920x1080@59.950"
	scale 1.0
	position x=0 y=0
}

prefer-no-csd

window-rule {
	clip-to-geometry true
	draw-border-with-background false
	geometry-corner-radius 12

	focus-ring {
		on
		width 3
		active-color "#cba6f7"
		inactive-color "#181825"
	}
}

hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

layer-rule {
	match namespace="mako"

	shadow {
		on
		softness 10
		spread 5
		offset x=0 y=2
		color "#00000040"
	}

	geometry-corner-radius 8
}
